In Python, lists are a universal data structure that represents an ordered collection of elements. Lists in Python can contain objects of any type, including other lists (these are called nested lists). A few key features of lists in Python:

* Mutable: Lists in Python can be changed. It means
You can add, delete, or change list items after you create it.

* Heterogeneity: A single list can contain elements of different data types, such as strings, integers, floats, other lists, and so on.

* Dynamic size is another important feature of lists in Python. Unlike some programming languages, where the size of an array must be predetermined and cannot be changed, lists in Python can change their size dynamically during program execution.

Lists in Python can be created in different ways:
1. With []

In [ ]:
my_list1 = []
my_list2 = [1, 2, 3, 4, 5, 'a', 'b', 'c']
print(my_list1, my_list2, sep = '\n')

[]
[1, 2, 3, 4, 5, 'a', 'b', 'c']

2. With list()

In [ ]:
my_list3 = list()
print(my_list3)

[]

3. With a list generator

In [ ]:
my_list4 = [x for x in range(1, 6)]
my_list_even = [x for x in range(10) if x % 2 == 0]
print(my_list4, my_list_even, sep = '\n')

[1, 2, 3, 4, 5]
[0, 2, 4, 6, 8]

And in other ways.

List elements can be retrieved by accessing them by index. Indexing starts at 0. To access a list element by index, square brackets [] are used.

You can also get several elements at once using slices. Slice syntax: list[start:stop:step], where:

start - index of the element at which the slice begins (inclusive). If start is not specified, the slice will start from the beginning of the list.

stop - The index of the element at which the slice ends (not including the element itself). If stop is not specified, the slice will end at the end of the list.

step - slice step (default is 1).

In [ ]:
my_list = ['a', 'b', 'c', 'd', 'e']
print(my_list[0])

# The first three elements of the list
print(my_list[:3])

# Elements with indexes from 1 to 3 (not including 3)
print(my_list[1:3])

# Every second element of the list
print(my_list[::2])

# list items in reverse order
print(my_list[::-1])

a
['a', 'b', 'c']
['b', 'c']
['a', 'c', 'e']
['e', 'd', 'c', 'b', 'a']

You can use the **in** operator to check whether an element is in a list in Python. This operator returns the Boolean value True if the element is present in the list, and False if the element is not present.

In [ ]:
print('a' in my_list)
print('z' in my_list)

True
False


There are several ways to add elements to a list in Python.


1.   append()

The append() method is used to add an element to the end of the list.

In [ ]:
my_list.append('f')
print(my_list)

['a', 'b', 'c', 'd', 'e', 'f']



2. insert():

The insert() method is used to insert an element at a specific position in the list. The first argument it takes is the index of the position at which the element needs to be inserted, the second is the element that needs to be inserted into the list.

In [ ]:
my_list.insert(3, 0)
print(my_list)

['a', 'b', 'c', 0, 'd', 'e', 'f']

3. extend()

The extend() method in Python is used to add elements from another iterable (such as a list) to the end of the current list.

In [ ]:
another_list = ['x', 'y', 'z']
my_list.extend(another_list)
print(my_list)

['a', 'b', 'c', 0, 'd', 'e', 'f', 'x', 'y', 'z']

4. +

The + operator in the context of lists (arrays) in Python is used to concatenate (merge) two lists into a new list. It creates a new list containing all the elements of the first list, followed by all the elements of the second list. The original lists remain unchanged. To use + to concatenate lists, both operands must be lists.

In [ ]:
list_plus_one = [1, 2, 3]
list_plus_two = [4, 5, 6]
list_sum = list_plus_one + list_plus_two
print(list_sum)

[1, 2, 3, 4, 5, 6]

We can also use the $*$ operator in relation to lists.

The * operator in the context of lists in Python is used to create a new list by repeating the elements of the original list a specified number of times.

In [ ]:
list_mul = list_sum * 3
print(list_mul)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

You can change list elements by accessing them by index and assigning new values ​​to them. We can assign directly by index, or use slices to replace multiple elements at once:

In [ ]:
one_more_list = [1, 2, 3, 4, 5]
one_more_list[0] = 0
print(one_more_list)

one_more_list[1:3] = [10, 20]
print(one_more_list)

[0, 2, 3, 4, 5]
[0, 10, 20, 4, 5]

There are several methods for removing items from a list.
1. remove()

The remove() method removes the first occurrence of the specified element from the list.

2. pop()

The pop() method removes an element from the list at the specified index and returns its value. If no index is specified, the last element of the list is removed and returned.

3. del

The del operator removes an element from a list at a specified index, or deletes a slice of elements.

4. clear()

The clear() method removes all elements from the list.

In [ ]:
deletion = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
deletion.remove(0)
print(deletion)

print(deletion.pop(0))
print(deletion)

del deletion[0]
print(deletion)
del deletion[0:3]
print(deletion)

deletion.clear()
print(deletion)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
1
[2, 3, 4, 5, 6, 7, 8, 9, 0]
[3, 4, 5, 6, 7, 8, 9, 0]
[6, 7, 8, 9, 0]
[]

For more complex data structures, you can use nested lists - lists that contain other lists as their elements. That is, each element of the outer list is a list in itself. This allows you to create data structures that are tables, matrices, or other complex structures.

Accessing elements of a nested list requires double indexing. In addition, operations on nested lists are generally similar to operations on simple lists.

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

print(matrix[0],matrix[0][0], sep = '\n')

del matrix[2][1]
print(matrix)
del matrix[2]
print(matrix)

nested_list1 = [[1, 2], [3, 4]]
nested_list2 = [[5, 6], [7, 8]]
print(nested_list1 + nested_list2)
print(nested_list1 * 2)

[1, 2, 3]
1
[[1, 2, 3], [4, 5, 6], [7, 9]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2], [3, 4], [5, 6], [7, 8]]
[[1, 2], [3, 4], [1, 2], [3, 4]]

Iterating a list means going through each element of the list individually. Iteration is useful for processing each element of a list in turn and performing specific operations on each element. Python has several ways to iterate through lists, both regular and nested lists.
Consider iteration through indices or using the for x in list construct.

In [ ]:
iteration_list = ['a', 20, 'b', 40, 'c']
for i in range(len(iteration_list)):
  print(iteration_list[i])

a
20
b
40
c

In [ ]:
for element in iteration_list:
    print(element)

a
20
b
40
c

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(len(nested_list)):
    for j in range(len(nested_list[i])):
        print(nested_list[i][j])

1
2
3
4
5
6
7
8
9

In [ ]:
for inner_list in nested_list:
    for element in inner_list:
        print(element)

1
2
3
4
5
6
7
8
9

There are also many built-in functions and methods for working with lists. Some of them:

1. len(list) - returns the number of elements

2. count() - returns the number of occurrences of a specified element in a list

3. index() - returns the index of the first occurrence of the specified element in the list.

4. reverse() - reverses the order of elements in a list

5. sort() - sorts list items (ascending by default).

In [ ]:
methods_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

print(len(methods_list))

print(methods_list.index(5))

print(methods_list.count(5))

methods_list.reverse()
print(methods_list)

methods_list.sort()
print(methods_list)

11
4
3
[5, 3, 5, 6, 2, 9, 5, 1, 4, 1, 3]
[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

Two more useful functions are map and reduce.

The map() function applies the specified function to all elements of the input sequence (for example, a list).

The reduce() function applies the specified function to pairs of elements in a sequence and collapses (reduces) the sequence to a single value. To use reduce() you need to import it from the functools module

In [ ]:
from functools import reduce

def add_ten(x):
    return x + 10

def sum_numbers(x, y):
    return x + y

numbers = [1, 2, 3, 4, 5]
numbers = list(map(add_ten, numbers))
print(numbers)

numbers = reduce(sum_numbers, numbers)
print(numbers)

[11, 12, 13, 14, 15]
65

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.extend([6, 7, 8])
del my_list[::2]
my_list.insert(3, my_list.pop(1))
print(my_list)

[2, 6, 8, 4]

## Practice

###1)
Given a list of numbers.
Find and print the mean, median of the list and the sum of all elements.
Sort the data list in descending order and output the sorted list.
Remove all elements from the data list that are less than the average value.

In [ ]:
list = [
    1369, 6070, 1340, 7260, 9363, 50, 272, 8003, 4990, 6427,
    9371, 5245, 6750, 7186, 9070, 6735, 265, 376, 7925, 951,
    1926, 9115, 2735, 8208, 8802, 4688, 7414, 7926, 7454, 5939,
    1867, 953, 4346, 7830, 8326, 9817, 8651, 4335, 2125, 1051,
    6798, 4182, 2147, 3711, 7945, 7746, 4225, 7162, 8671, 4386
]
#Your code:

###2)
Create a nested_list containing three nested lists: [1, 2, 3], [4, 5, 6], [7, 8, 9].
Print the value from the nested_list located at position (1, 2).
Delete the second list.
Add a new nested list [10, 11, 12] to the end of nested_list (not using).
Use the + operator to combine nested_list with another list [[13, 14], [15, 16]].

###3)
Using the list generator, create:

1) A list of squares containing squares of numbers from 1 to 15

2) List containing even numbers from 20 to 40

3) List containing numbers divisible by 7 from 200 to 0.

### 4)
Use the map() function to divide each element of the last list from the previous task by 7 and output a new list.
Use the reduce() function to find the sum of all the list elements of a given list.